<!DOCTYPE html>
<html>
<head>
    <title>Add Employee</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<h1>Add Employee</h1>

<form method="POST" action="/add_employee">

    <label>Name:</label><br>
    <input type="text" name="name" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Department:</label><br>
    <input type="text" name="department" required><br><br>

    <p style="color:blue;">📷 After submitting, camera will open. Press 'S' to capture face.</p>

    <button type="submit">Add Employee</button>

</form>


<br>

<a href="/admin">⬅ Back to Dashboard</a>

</body>
</html>
